<h2>All Contacts</h2>
<ul>
	<% $rolodex.contacts.each do |contact| %>
		<li>Name: <%= contact.first_name %> <%= contact.last_name %>
			<br>Email: <%= contact.email %>
			<br>Note: <%= contact.note %>
			<br>
		</li>
	<% end %>
</ul>