<div class="sidebar">
  		<ul>
  			<li>
  				Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
  			</li>
  			<li>
  				Aenean commodo ligula eget dolor. Aenean massa.
  			</li>
  			<li>
  				Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
  			</li>
 	  	</ul>
 	  </div>
<article>
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.
</article>