<html>
<!DOCTYPE html>
  <head>
	<title>My CRM website</title>
	<link rel="stylesheet" href="/style.css">
  </head>
  <body>
  	<header>
  		<h1>Melissa's Contact Manager</h1>
  		<nav>
			  	<a href="/">Home</a>&nbsp &#9881&nbsp<a href="/contacts">All Contacts</a>&nbsp &#9881&nbsp <a href="/contacts/new">Add New Contact</a>
			</nav>
  	</header>
  	<div class="sidebar">
  		<ul>
  			<li>
  				Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
  			</li>
  			<li>
  				Aenean commodo ligula eget dolor. Aenean massa.
  			</li>
  			<li>
  				Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
  			</li>
 	  	</ul>
 	  </div>
 	  <div class="container-right">
 	  	<%= yield %>
 	  </div>
	  <footer> <h6>&copy Ridiculous Works</h6></footer>
  </body>
</html>