body {
	background-color: #CEF6F5
	}

h1 {
	text-align: center;
	color: #ffff66;
	font-family: cursive;
	font-size: 100px
	text-shadow: 5px 5px #00476B;
}

h2 {
	text-align: center;
	color: navy blue;
	font-family: garamond;
}

nav {
	text-align: center;
}

header {
	height: 120px;
	background-color: #19A3D1;
	margin: 20px;
	vertical-align: auto;
}

img {
	height:50px;
	width:50px;
}

article {
	font-family: garamond;
}

a {
	color: blue;
	font-family: Arial;
	font-size: 25x;
}

.sidebar {
	margin-right: 20px;
	width: 200px;
	float: left;
}

.container {
	margin: 20px;
}

footer {
	height: 40px;
	margin: 20px;
	clear: both;
}