body {
	background: linear-gradient(to right, #0052A3, #80C4C4);
	}

h1 {
	text-align: center;
	color: #70DB70;
	font-family: cursive;
	font-size: 100px
	text-shadow: 25px 25px black;
}

h2 {
	text-align: center;
	color: #005640;
	font-family: garamond;
	font-size: 1.75em;
}

h6 {
	color: #0099CC;
}

nav {
	text-align: center;
}

header {
	height: 120px;
	background-color: #19A3D1;
	margin: 20px;
	vertical-align: auto;
}

article {
	font-family: garamond;
	color:white;
}

a {
	color: yellow;
	font-family: Arial;
	font-size: 25x;
}

li {
	color:white;
}

.sidebar {
	margin-right: 20px;
	width: 200px;
	float: left;
}

.container {
	margin: 20px;
}

footer {
	height: 40px;
	margin: 20px;
	clear: both;
}